@font-face {
    font-family: abril-regular;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: monsterat-regular;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: frank-regular;
    src: url(../fonts/FrankRuhlLibre-Regular.ttf);
}

@import "global";
@import "rest";